<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" id="introduction" title>Introduction</div>
    <div class="description-container">
      <div class="item">
        Baically, we usually use the ternary operator to declare a condition. 
        Then we assign the value for the corresponding result of the condition.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              example:
            </div>
            <div class="item">
              <app-code-container
                [code]="legazyCode"
                [languages]="['html', 'typescript']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              result:
            </div>
            <div class="item">
              {{age !== null && age !== undefined ? age : calculateAge() }}
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        In v12, we are allowed to use the Nullish Coalescing on the template. 
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              example:
            </div>
            <div class="item">
              <app-code-container
                [code]="newCode"
                [languages]="['html', 'typescript']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              result:
            </div>
            <div class="item">
              {{ age ?? calculateAge() }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</app-page-container>