<div class="base-container">
  <div class="page-title">
    {{ title }}
    <app-navigation-button-container>
    </app-navigation-button-container>
  </div>

  <app-section-container>
    <div class="title" id="description">Description</div>
    <div class="description-container">
      <div class="item">
        <ol>
          <li>
            Create a new project in Angular 12 with the following command.
            <div class="item">
              <app-code-container
                [code]="instruction"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>
            Update the existed project to Angular 12 with the following command.
            <div class="item">
              <app-code-container
                [code]="updateInstruction"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-doc-reviewer-container
    [sections]="sections"
    [titles]="titles">
  </app-doc-reviewer-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference">Reference</div>
    <div class="reference-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://update.angular.io/?v=11.0-12.0"> Angular Update Guide</a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</div>

<app-footer>
</app-footer>