<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <div class="reference-container">
    <ul>
      <li>
        <a href="https://v12.angular.io/guide/content-projection">
          Content projection document
        </a>
      </li>
      <li>
        <a href="https://blog.angular.io/angular-debugging-guides-dfe0ef915036">
          Angular Debugging Guides
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=O47uUnJjbJc&list=PL1w1q3fL4pmi8SydlCdMdm7kCbHi-7wpS">
          Debugging Playlist
        </a>
      </li>
      <li>
        <a href="https://web.dev/learn/css/">
          Learn CSS
        </a>
      </li>
    </ul>
  </div>
</div>