<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" id="introduction" title>Introduction</div>
    <div class="description-container">
      <div class="item">
        There are a few improvements for style in Angular 12.
      </div>
      <div class="item">
        <ol>
          <li>
            Supports Inline Sass in components
          </li>
          <li>
            Support new Sass API for Angular CDK and Angular Material code
          </li>
          <li>
            Support TailwindCSS JIT node (Just-In-Time)
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="inlinesassincomponents" title>Inline Sass in components</div>
    <div class="description-container">
      <div class="item">
        It's helpful for using single file component. Previously, Sass was only available in external resources due to the Angular compiler.
      </div>
      <div class="item">
        There are a few steps.
      </div>
      <div class="item">
        <ul>
          <li>Update angular.json.
            <div class="item">
              <app-code-container
                [code]="enableInlineStyle"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>Update the component.
            <div class="item">
              <app-code-container
                [code]="componentCode"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>Update the template.
            <div class="item">
              <app-code-container
                [code]="htmlCode"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              The following result demostrate the inline CSS works. 
            </div>
            <div class="item">
              <button class="inline-style-demo-btn">Demo</button>
              <button class="inline-style-demo-btn2">Demo2</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="usenewsassapiforangularcdkandangularmaterialcode" title>Use new Sass API for Angular CDK and Angular Material code</div>
    <div class="description-container">
      <div class="item">
        Angular CDK and Angular Material have internally adopted Sass’s 
        <a href="https://sass-lang.com/blog/the-module-system-is-launched/">
          new module system
        </a>
      </div>
      <div class="item">
        There are a few steps.
      </div>
      <div class="item">
        <ol>
          <li>Move node-sass npm package to sass. (the node-sass package is unmaintained)
            <div class="item">
              <app-code-container
                [code]="sassPkg"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>
            Upgrade it by using the following command.
            <div class="item">
              <app-code-container
                [code]="update"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>The following example shows the effect.
            <a href="https://gist.github.com/MarkTechson/6283b6a3b353f9e38964af0740e29280">
              (reference)
            </a>
            <div class="item">
              <app-code-container
                [code]="example"
                [languages]="['sass']">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>
  
  <app-section-container>
    <div class="title" id="introductiontotailwindcss" title>Introduction to TailwindCSS</div>
    <div class="description-container">
      <div class="item">
        <a href="https://tailwindcss.com/">
          TailwindCSS
        </a> is an utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup.
      </div>
      <div class="item">
        <app-code-container
          [code]="exampleTailwindCSS"
          [languages]="['html', 'typescript']">
        </app-code-container>
      </div>
      <div class="item">
        The following result demostrate the TailwindCSS works.
      </div>
      <div class="item">
        <div class="top-[10px] max-w-screen-md mt-3 mx-auto bg-rose-950 rounded-xl shadow-md overflow-hidden md:max-w-screen-lg hover:bg-gray-300">
          <div class="md:flex">
            <div class="md:flex-shrink-0">
              <img class="h-48 w-full object-cover md:h-full md:w-48" src="../../assets/image/angular-logo.png" alt="">
            </div>
            <div class="p-[8px]">
              <div class="uppercase py-3 text-6xl text-white font-semibold">Note of Angular 12</div>
              <h1 class="py-3 text-3xl font-bold text-red-600 mb-0">Produced by Jen-Hsuan Hsieh</h1>
              <p class="py-1 mb-0 text-gray-100">
                {{titleList}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        There are a few advantages for using TailwindCSS instead of the traditional CSS.
      </div>
      <ol>
        <li>
          <div class="item">
            TailwindCSS provides many pre-defined classes. It's clear to understand what's the effect of the CSS style class. 
          </div>
        </li>
        <li>
          <div class="item">
            The styles between elements will be consistent because there is a global configuration file, which is better than the inline CSS.
          </div>
        </li>
        <li>
          <div class="item">
            We are allowed to write psuedo class and the media class, which is better than the inline CSS.
          </div>
        </li>
      </ol>
      <div class="item">
        In Angular 12, we can use the
        <a href="https://v2.tailwindcss.com/docs/just-in-time-mode">
          JIT (Just-In-Time) mode
        </a> to generate CSS files when writing HTML files.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              It reduces the loading time.
            </div>
          </li>
          <li>
            <div class="item">
              We are allowed to use psuedo elements without override variants.
            </div>
          </li>
          <li>
            <div class="item">
              We are allowed to create a new class with any values in the HTML. (e.g., top-[10px])
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="usetailwindcssinangular" title>Use TailwindCSS in Angular</div>
    <div class="description-container">
      <div class="item">
        There are steps to set up the TailwindCSS in Angular.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Install required packages.
            </div>
            <div class="item">
              <app-code-container
                [code]="installTailwindCSS"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Update the style.scss.
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    base: provide 
                    <a href="https://necolas.github.io/normalize.css/">
                      normalize.css
                    </a> to reset to the default CSS style.
                  </div>
                </li>
                <li>
                  <div class="item">
                    components
                  </div>
                </li>
                <li>
                  <div class="item">
                    utilities: pre-fined CSS classes
                  </div>
                </li>
              </ul>
            </div>
            <div class="item">
              <app-code-container
                [code]="updateStyle"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              Generate tailwind.config.js.
            </div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Use the following command.
                  </div>
                  <div class="item">
                    <app-code-container
                      [code]="initTailwindCSS"
                      [languages]="['typescript', 'html']">
                    </app-code-container>
                  </div>
                </li>
                <li>
                  <div class="item">
                    We'll get an empty config file.
                  </div>
                  <div class="item">
                    <app-code-container
                      [code]="originalConfig"
                      [languages]="['typescript', 'html']">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              Update the tailwind.config.js.
            </div>
            <div class="item">
              <app-code-container
                [code]="updatedConfig"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
      <!-- <button
      (click)="light()"
  id="light"
  class="px-4 py-2 rounded-full bg-white border-gray-400 border-2"
>
  日間模式 <i class="fas fa-sun text-yellow-500"></i>
</button>
<button
  id="dark"
  (click)="dark()"
  class="px-4 py-2 rounded-full bg-gray-700 border-gray-700 border-2 text-white"
>
  夜間模式<i class="fas fa-moon text-yellow-500"></i>
</button> -->
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <ul>
        <li>
          <a href="https://blog.angular.io/the-new-state-of-css-in-angular-bec011715ee6">
            The [New] State of CSS in Angular
          </a>
        </li>
        <li>
          <a href="https://sass-lang.com/blog/the-module-system-is-launched/">
            The Module System is Launched
          </a>
        </li>
        <li>
          <a href="https://star-note-lucas.vercel.app/posts/tailwindcss-jit">
            快速了解 Tailwind CSS 的 JIT 模式
          </a>
        </li>
        <li>
          <a href="https://hsuchihting.github.io/TailwindCSS/20210702/3640682418/">
            Tailwind CSS - 如何在 Angular 中使用 TailwindCSS
          </a>
        </li>
        <li>
          <a href="https://5xcampus.com/posts/tailwind-css-plugin/">
            還在跟複雜的 CSS 的設定奮鬥嗎？用 Tailwind 來幫你實現真正的高效整潔！
          </a>
        </li>
        <li>
          <a href="https://ithelp.ithome.com.tw/articles/10234671">
            Day 05 安裝 Tailwind CSS
          </a>
        </li>
        <li>
          <a href="https://web.dev/learn/css/">
            Learn CSS
          </a>
        </li>
      </ul>
    </div>
  </app-section-container>
</app-page-container>