<div class="base-container">
  <div class="page-title">
    {{ title }}
    <app-navigation-button-container>
    </app-navigation-button-container>
  </div>

  <app-section-container>
    <div class="title" id="description">Description</div>
    <div class="description-container">
      <div class="item">
        There are a few improvements of stylishment in Angular 12.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              Angular v12 supports Inline Sass in components. It's helpful for using single file component. Previously, Sass was only available in external resources due to the Angular compiler.
            </div>
            <div class="item">
              There are a few steps.
            </div>
            <div class="item">
              <ul>
                <li>Update angular.json.
                  <div class="item">
                    <app-code-container
                      [code]="enableInlineStyle"
                      [languages]="['typescript', 'html']">
                    </app-code-container>
                  </div>
                </li>
                <li>Update the component.
                  <div class="item">
                    <app-code-container
                      [code]="componentCode"
                      [languages]="['typescript', 'html']">
                    </app-code-container>
                  </div>
                </li>
                <li>Update the template.
                  <div class="item">
                    <app-code-container
                      [code]="htmlCode"
                      [languages]="['typescript', 'html']">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              Support new Sass API for Angular CDK and Angular Material code. Angular CDK and Angular Material have internally adopted Sass’s 
              <a href="https://sass-lang.com/blog/the-module-system-is-launched/">
                new module system
              </a>
            </div>
            <div class="item">
              There are a few steps.
            </div>
            <div class="item">
              <ul>
                <li>Move node-sass npm package to sass. (the node-sass package is unmaintained)
                  <div class="item">
                    <app-code-container
                      [code]="sassPkg"
                      [languages]="['typescript', 'html']">
                    </app-code-container>
                  </div>
                </li>
                <li>
                  Upgrade it by using the following command.
                  <div class="item">
                    <app-code-container
                      [code]="update"
                      [languages]="['typescript', 'html']">
                    </app-code-container>
                  </div>
                </li>
                <li>The following example shows the effect.
                  <a href="https://gist.github.com/MarkTechson/6283b6a3b353f9e38964af0740e29280">
                    (reference)
                  </a>
                  <div class="item">
                    <app-code-container
                      [code]="example"
                      [languages]="['sass']">
                    </app-code-container>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-doc-reviewer-container
    [sections]="sections"
    [titles]="titles">
  </app-doc-reviewer-container>

  <!-- demo -->
  <app-section-container>
    <div class="title" id="demo">Demo</div>
    <div class="demo-container">
      <button class="inline-style-demo-btn">Demo</button>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference">Reference</div>
    <div class="reference-container">
      <ul>
        <li>
          <a href="https://blog.angular.io/the-new-state-of-css-in-angular-bec011715ee6">
            The [New] State of CSS in Angular
          </a>
        </li>
        <li>
          <a href="https://sass-lang.com/blog/the-module-system-is-launched/">
            The Module System is Launched
          </a>
        </li>
      </ul>
    </div>
  </app-section-container>
</div>

<app-footer>
</app-footer>