<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="titles"
  >
  <app-section-container>
    <div class="title" id="overview" title>Overview</div>
    <div class="description-container">
      <div class="item">
        There are a few minor features in Angular 12.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">
              <b>ng build</b> defaults to production for the new v12 project to prevent accidental development builds in production.
            </div> 
            <div class="item">
              We could use the following command to migrate the legacy project.
            </div>
            <div class="item">
              <app-code-container
                [code]="ngBuildMigration"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">
              The production version of Webpack5 support is released in v12.
            </div>
            <div class="item">
              Please refer to the "Custom Webpack Configurations In Angular" section before using new features of Webpack5.
            </div>
          </li>
          <li>
            <div class="item">
              Introduce min and max validators for the template form 
              <a href="https://github.com/angular/angular/pull/39063">
                (pull request)
              </a>
            </div>
            <div class="item">
              <app-code-container
                [code]="maxMinValidator"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>
  
  <app-section-container>
    <div class="title" id="customwebpackconfigurationsinangular" title>
      Custom Webpack Configurations In Angular
    </div>
    <div class="description-container">
      <div class="item">
        There are a few steps to custom Webpack. Suppose that we want to use the webpack-bundle-analyzer package to analyze the bundles.
      </div>
      <div class="item">
        <ol>
          <li>Install required packages.
            <div class="item">
              <app-code-container
                [code]="packagesInstallation"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>Update angular.json.
            <div class="item">
              <app-code-container
                [code]="angularJson"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>Add the webpack.config.js.
            <div class="item">
              <app-code-container
                [code]="webpackConfig"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>Build the bundle.
            <div class="item">
              <app-code-container
                [code]="ngBuild"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>Execute the Webpack build.
            <div class="item">
              <app-code-container
                [code]="webpackBuild"
                [languages]="['html']">
              </app-code-container>
            </div>
          </li>
          <li>It will open a browser on http://127.0.0.1.
            <div class="item">
              <div class="image-container">
                <img src="../../assets/image/webpack.png" alt="">
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="webpack5newfeatures" title>
      Webpack 5 New Features
    </div>
    <div class="description-container">
      <div class="item">
        There are a few minor features in Webpack 5.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              <b>Named chunk IDs</b>
            </div>
            <div class="item">
              Readable ids for better debugging. Update webpack.config.js as the following code.
            </div>
            <div class="item">
              <app-code-container
                [code]="namedChunk"
                [languages]="['typescript']">
              </app-code-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://blog.angular.io/upcoming-improvements-to-angular-library-distribution-76c02f782aa4">
              Upcoming improvements to Angular library distribution
            </a>
          </li>
          <li>
            <a href="https://blog.logrocket.com/new-features-in-webpack-5-2559755adf5e/">
              New features in webpack 5
            </a>
          </li>
          <li>
            <a href="https://www.digitalocean.com/community/tutorials/angular-custom-webpack-config">
              How To Use Custom webpack Configurations with Angular CLI Builders
            </a>
          </li>
          <li>
            <a href="https://limeii.github.io/2019/08/angular-customize-webpack/">
              Angular:如何在 Angular(8.0) 中配置 Webpack
            </a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</app-page-container>