<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="titles"
  >
  <app-section-container>
    <div class="title" id="introduction" title>Introduction</div>
    <div class="description-container">
      <div class="item">
        Currently there is no way to configure interceptors in <b>HttpClient</b> on per request basis.
        Suppose that we have an interceptor to alert the error message if the proxy is not ready.
      </div>
      <div class="item">
        <ul>
          <li>
            All response will be applied to this interceptor.
          </li>
          <li>
            How do we bypass this interceptor for some requests?
          </li>
        </ul>
      </div>
      <div class="item">
        <app-code-container
          [code]="legacyInterceptor"
          [languages]="['typescript', 'html']">
        </app-code-container>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="passmetadatatointerceptors" title>Pass Metadata to Interceptors</div>
    <div class="description-container">
      <div class="item">
        In v12, we are allowed to customize HttpInterceptor by passing data through HttpContext. 
        <a href="https://github.com/angular/angular/pull/25751">(pull request)</a>. There are a few steps to pass metadata to the interceptor.
      </div>
      <div class="item">
        <ol>
          <li>
            <div class="item">Create a 
              <a href="https://angular.io/api/common/http/HttpContextToken">
                HttpContextToken
              </a>
            </div>
            <div class="item">
              <app-code-container
                [code]="httpContextToken"
                [languages]="['typescript', 'html']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">Create a new interceptor</div>
            <div class="item">
              <app-code-container
                [code]="newInterceptor"
                [languages]="['typescript']">
              </app-code-container>
            </div>
          </li>
          <li>
            <div class="item">Update the HTTP service.</div>
            <div class="item">
              <ul>
                <li>
                  <div class="item">
                    Pass the HttpContextToken to the HttpClient.
                  </div>
                </li>
                <li>
                  <div class="item">
                    Set the value to the HttpContextToken.
                  </div>
                </li>
              </ul>
            </div>
            <div class="item">
              <app-code-container
                [code]="httpService"
                [languages]="['typescript']">
              </app-code-container>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="demo" title>Demo</div>
    <div class="demo-container">
      <div class="button-container">
        <button class="export" (click)="printFromServer(true)">
          Export PDF from server 
        </button>    
      </div>
      <div class="button-container">
        <button class="export" (click)="printFromServer(false)">
          Export PDF from server (alert)
        </button>    
      </div>
    </div>  
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://itnext.io/bypass-angular-interceptors-with-request-metadata-cf28061cda69">
              Bypass Angular Interceptors with Request Metadata
            </a>
          </li>
          <li>
            <a href="https://fullstackladder.dev/blog/2017/10/29/angular-advanced-handle-http-request-with-interceptor/">
              [Angular 進階議題]使用HttpInterceptort為HttpClient Request打點前後大小事
            </a>
          </li>
          <li>
            <a href="https://fullstackladder.dev/blog/2021/11/07/using-http-context-passing-data-to-http-interceptor/">
              使用 HttpContext 傳遞資料給 HttpInterceptor
            </a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</app-page-container>
