<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="titles"
  >
  <app-section-container>
    <div class="title" id="description" title>Description</div>
    <div class="reference-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://blog.angular.io/angular-debugging-guides-dfe0ef915036">
              Angular Debugging Guides
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=O47uUnJjbJc&list=PL1w1q3fL4pmi8SydlCdMdm7kCbHi-7wpS">
              Debugging Playlist
            </a>
          </li>
          <li>
            <a href="https://blog.logrocket.com/new-features-in-webpack-5-2559755adf5e/">
              New features in webpack 5
            </a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</app-page-container>