<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <app-section-container>
    <div class="description-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://fullstackladder.dev/blog/2021/06/21/how-to-survive-in-angular-12-strict-mode-using-async-pipe/">
              [Angular 大師之路] Angular 12 預設開啟 strict mode 的生存之道
            </a>
          </li>
          <li>
            <a href="https://blog.angular.io/angular-debugging-guides-dfe0ef915036">
              Angular Debugging Guides
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=O47uUnJjbJc&list=PL1w1q3fL4pmi8SydlCdMdm7kCbHi-7wpS">
              Debugging Playlist
            </a>
          </li>
          <li>
            <a href="https://hsuchihting.github.io/TailwindCSS/20210702/3640682418/">
              Tailwind CSS - 如何在 Angular 中使用 TailwindCSS
            </a>
          </li>
          <li>
            <a href="https://devblogs.microsoft.com/typescript/announcing-typescript-4-2/">
              Announcing TypeScript 4.2
            </a>
          </li>
          <li>
            <a href="https://blog.logrocket.com/new-features-in-webpack-5-2559755adf5e/">
              New features in webpack 5
            </a>
          </li>
          <li>
            <a href="https://fullstackladder.dev/blog/2021/11/07/using-http-context-passing-data-to-http-interceptor/">
              使用 HttpContext 傳遞資料給 HttpInterceptor
            </a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</div>