<div class="home-container">
  <div class="item-container">
    <div class="title-container">
      <div class="image-container">
        <img [src]="currentImage" alt="">
      </div>
      <div class="title">
      {{ title }}
      </div>
    </div>
    <div class="button-container">
      <button (click)="firstPage()">Get Started</button>
    </div>
    <div class="history-container">
      <div class="title">
        You may also want to check notes of different versions.
      </div>
      <div class="histories">
        <ul>
          <li>
            <a [href]="v13Url">- Notes of Angular v13</a>
          </li>
          <li>
            <a [href]="v14Url">- Notes of Angular v14</a>
          </li>
          <li>
            <a [href]="v15Url">- Notes of Angular v15</a>
          </li>
          <li>
            <a [href]="v16Url">- Notes of Angular v16</a>
          </li>
          <li>
            <a [href]="v17Url">- Notes of Angular v17</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="timeline-container">
      Or check the 
      <a [href]="timelineUrl">
        timeline
      </a>
    </div>
    <div class="footer-container">
      <div>
        Curated by <a href="https://www.linkedin.com/in/jen-hsuan-hsieh-6a13347a/">Jen-hsuan Hsieh (Sean)</a>
        © 2024 - 2034
      </div>
    </div>
  </div>
</div>