<div class="base-container">
  <div class="page-title">
    {{ title }}
    <app-navigation-button-container>
    </app-navigation-button-container>
  </div>

  <div class="description-container">
    <ul>
      <li>
        <a href="https://v12.angular.io/docs">
          Angular Doc v12
        </a>
      </li>
      <li>
        <a href="https://blog.angular.io/angular-v12-is-now-available-32ed51fbfd49">
          Angular v12 is now Available
        </a>
      </li>
    </ul>
  </div>
</div>

<app-footer>
</app-footer>