<app-page-container
  [title]="title"
  [sections]="sections"
  [sectionTitles]="sectionTitles"
  >
  <app-section-container>
    <div class="title" id="introduction" title>Introduction</div>
    <div class="description-container">
      <div class="item">
        Angular language service is an IDE extension that allows code editors to get helpful tips, code completion navigation.
      In v12, they unleash the power of Ivy to help boost developer velocity when usiing language service plugin.
      </div>
      <div class="item">
        <ul>
          <li>
            <div class="item">
              Install the language service plugin: Extensions -> Search "language service"
            </div>
            <div class="image-container">
              <img src="../../assets/image/language_service_plugin.png" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>

  <app-section-container>
    <div class="title" id="newfeature" title>New Feature</div>
    <div class="description-container">
      <div class="item">
        Be able to check the symbol references from the template directly
      </div>
      <div class="image-container">
        <img src="../../assets/image/references.png" alt="">
      </div>
    </div>
  </app-section-container>
  
  <app-section-container>
    <div class="title" id="oldfeatures" title>Old Features</div>
    <div class="description-container">
      <div class="item">
        <ol>
          <li>
            <div class="item">
              <b>Syntax highlighting</b>
            </div>
            <div class="item">
              Highlight the syntax in the template.
            </div>
            <div class="image-container">
              <img src="../../assets/image/highlight.png" alt="">
            </div>
          </li>
          <li>
            <div class="item">
              <b>
                Go to/Peek definition
              </b>
            </div>
            <div class="image-container">
              <img src="../../assets/image/peek_definition.png" alt="">
            </div>
          </li>
          <li>
            <div class="item">
              <b>
                Type detail on hover
              </b>
            </div>
            <div class="image-container">
              <img src="../../assets/image/hover_type.png" alt="">
            </div>
          </li>
        </ol>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title" id="reference" title>Reference</div>
    <div class="reference-container">
      <div class="item">
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=doVYC32hjIw">
              Angular Language Service with Ivy! | #ngUpdate
            </a>
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</app-page-container>